body {
  padding-bottom: 400px;

}

.navbar-fixed-top{
/*background-color: rgba(255, 105, 180, .6);*/
background-color: rgba(52, 55, 56, .6);

}

.navbar-fixed-top a{
color: white;

}

.navbar-fixed-top a:hover{
  color: rgb(255, 105, 180);
}


.btn-primary{
  border: 2px white solid;
  background-color: rgba(0, 0, 0, 0.25);
  border: 2px white solid;
}

.btn-primary:hover{
  background-color: rgb(127, 255, 0);
  border: 2px rgb(255, 105, 180) solid;
}

.btn-lg{
  padding-top: 2%;
  padding: 5px 8px;
  font-size: 4vw;
  line-height: 1.3333333;
  border-radius: 0px;
}

.carousel-caption{
  margin-bottom: 10%;
}

.carousel-caption h1{
font-size: 4.5vw;
}

.events h1 {
color: #243F5C;
}



.events {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}



.storycontain{
  /*border: 3px solid #243F5C;*/
  background-color: #272C2E;;
  border-radius: 10px;
  margin-bottom: 2%;
}

form{
  margin-top: 2%;
  padding-bottom: 5%;
  background-color: white;
  border: 2px solid  #243F5C;

}



legend{
  color: #243F5C;
}

img{
  position: relative;
  /*height:400px;*/
  width: auto;
    /*border: 2px solid white;*/
}

h2{
  color: white;
}
.carousel-caption {
  position: absolute;
  z-index: 10;
  color:white;
  font-size: 2.5vw;
  padding-bottom: 23%;
  height: .5vw;
}

/*.space{
  padding-top: 5%;
  padding-bottom: 5%;
}*/

p{
  font-size: 3vw;
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
}





#myCarousel1{
  padding: 5%;
}

#myCarousel2{
  font-family: 'Raleway', sans-serif;
  word-spacing: 7px;
  color:white;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%;

}

#myCarousel2 p{
  font-size: 2.5vw;
}


.thumbnail{
  border: 1px black solid;
}

.news{
  border: 3px solid #243F5C;
  background-image: url(../img/bg/newspaperbg.jpg);


}


h1{
  color: white;
}



.newsContainer{
  padding-bottom: 5%;
  padding-top:5%;
}



.inTheNews{
  color: #243F5C;

}
#features img{
  height: 20vw;
  width: auto;
}

.newsP{
  font-size:1.5vw;
  color:black;
}

.footer{
  background-color: rgba(255, 105, 180, .6);
}

.footer a{
  color: white;

}

/*ol.carousel-indicators{
  margin-top: 50%;
}*/
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  /*border-radius: 10px;*/
    border-radius: 0px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

/*.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}*/
